@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

:root {
    --main-bg-color: #09BC8A;
    --surface-light: #e2e2e2;
    --surface-dark: #121212;
    --surface-mid: #c9c9c9;
    --midnight-green: #02412f;
}

body{
    margin:0;
    height:100vh;
    background-color: var(--surface-light);
    font-family: 'Akshar', sans-serif;
}

.toolbar{
    color:white;
    background-color: var(--main-bg-color);
    display:flex;
    flex-flow:row wrap;
    margin:auto;
    align-content:center;
    justify-content: space-between;
    width:100%;
    height: 5rem;
}

.top-link{
    text-decoration: none;
    display:flex;
    color:white;
    margin-left:1rem;
}

.icon-white{
    width:50px;
    color:white;
}
.share-white{
    display:flex;
    width:20px;
    color:white;
    align-items: center;
    margin-right:2rem;
    cursor:pointer;
}

.title{
    margin:4px;
    margin-left:8px;
    font-size:28pt;
}

.content{
    display: flex;
    margin:auto;
    text-align: center;
    height:100%;
}

.card{
    background-color: var(--surface-light);
    border-radius: 1rem;
    color:var(--surface-dark);
    margin-top: 1rem;
    margin-bottom:1rem;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    border-width: 0;
    box-shadow: inset;
    cursor: pointer;
    padding:1rem;
}


.button-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow-y:scroll;
    background-color: var(--midnight-green);
    width:300px;
    padding:1rem;
    color:var(--surface-light);
}


canvas{
    border-radius: 1rem;
}