@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

:root {
    --main-bg-color: #09BC8A;
    --surface-light: #e2e2e2;
    --surface-dark: #121212;
}


.renderer{
    margin:0;
    position:fixed;
    top:0;
    left:0;
}
.content{
    position:absolute;
    color:white;
    background-color: var(--main-bg-color);
}
.title{
    font-size:48pt;
    margin:auto;
    color: var(--surface-light);
}
.card{
    background-color: var(--surface-light);
    padding:1rem;
    border-radius: 1rem;
    color:var(--surface-dark);
    margin-top: 1rem;
    margin-bottom:1rem;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
}

.circle-container{
    display:flex;
    background-color: var(--surface-light);
    color:var(--main-bg-color);
    width:256px;
    height:256px;
    border-radius:100%;
    margin:auto;
    justify-content: center;
    align-items: center;
    margin:auto;
    text-align:center;
}

.button-container{
    justify-content: center;
    align-items: center;
    margin:auto;
    text-align:center;
    width:50%;
}

a{
    text-decoration:none;
}
.splash-background{
    background-color: var(--main-bg-color);
    height: 100vh;
    margin:0;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    width:100%;
}
body{
    margin:0;
    font-family: 'Akshar', sans-serif;
}
